.front {
  margin: 50px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.front_img {
  width: 100%;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.front_header {
  font-size: 80px;
  color: #0066ff;
  margin-bottom: 20px;
}

.front_header span {
  color: #ff0000;
  border-bottom: 5px solid #ff0000;
}

.front_p {
  font-size: 20px;
  float: center;
  margin-top: 30px;
}

.plan_sec {
  margin-top: 100px;
  position: relative;
}

.plan_img {
  float: right;
  position: absolute;
  right: 9%;
  z-index: 1000;
  width: 40%;
}

.plan_text {
  width: 60%;
  height: 45%;
  float: right;
  right: 40%;
  margin-top: 20%;
  border-radius: 25px;
  padding: 50px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  position: relative;
}

.plan_t {
  text-align: right;
  width: 70%;
  margin-left: 80px;
}

.plan_h {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  text-align: right;
  color: #ff0000;
}

.plan_p {
  font-size: 20px;
  margin-top: 20px;
}

.feedback {
  width: 100%;
  position: absolute;
  top: 1000px;
}

.feedback_h1 {
}

.feedback_people img {
  width: 30%;
}

footer {
  position: relative;
  padding: 50px;
  background-color: #0066ff;
  border-radius: 25px 25px 0 0;
  text-align: center;
  color: white;
}

footer ul {
  display: inline-block;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  margin: 20px;
}

.footer_link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 1s ease-in-out;
}

.footer_link:hover {
  text-decoration: underline;
  font-weight: 700;
}
