.feedback {
  margin-top: 50px;
  margin-bottom: 850px;
  width: 100%;
  height: 1000px;
}

.feedbak_people {
  position: relative;
  height: 100%;
}

.feedback_h1 {
  color: #0066ff;
  width: 80%;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 100px;
}

.feedback_h2 {
  margin-top: 350px;
  text-align: right;
  float: right;
}

.feedback_people1 {
  margin: 20px;
  width: 40%;
  position: absolute;
}

.feedback_people2 {
  position: absolute;
  width: 40%;
  left: 60%;
  top: -10%;
}

.feedback_people3 {
  margin: 20px;
  width: 30%;
  position: absolute;
  left: 40%;
  top: 40%;
}

.feedback_people4 {
  position: absolute;
  width: 40%;
  top: 60%;
}

.feedback_people5 {
  position: absolute;
  width: 40%;
  left: 60%;
  top: 85%;
  align-items: flex-end;
  justify-content: end;
}

.p1 {
  width: 100%;
  border-radius: 35px;
}

.p2 {
  width: 100%;
  border-radius: 35px;
}

.p3 {
  width: 90%;
  border-radius: 35px;
}

.p4 {
  width: 80%;
  border-radius: 35px;
}

.p5 {
  width: 100%;
  border-radius: 35px;
}

.p1_text {
  font-size: 30px;
  width: 100%;
}

.p2_text {
  font-size: 30px;
  width: 100%;
  text-align: right;
  margin-right: 90px;
}

.p3_text {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.p4_text {
  font-size: 30px;
  width: 100%;
}

.p5_text {
  font-size: 30px;
  width: 100%;
  text-align: right;
}
